body{
    margin: 0;
    font-family: tahoma, verdana;
}


/*navbar*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed ;
    top: 0;
    width: 100%;
    backdrop-filter: blur(5px);
}

nav a{
    color: black;
    text-decoration: none;
}


nav #icon{
    margin: 20px;
}

nav button{
    border: none;
    margin-right: 20px;
    background-color: transparent;
}

nav #navigation{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right:20px ;
    gap: 20px;
}
#navigation a img{
    display: none;
}
nav #contacts-btn {
    background-color: #d5015b;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
}

/*home*/

#home{
    padding: 30px 0 50px 0;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*content intro*/

#intro{
    line-height: 1rem;

}

#greet{
    display: flex;
    justify-content: start;
    align-items: center;
}

#line{
    width: 30px;
    background-color: black;
    height: 1px;
}

#content #intro #hello{
    font-size: 20px;
}

#content #intro .name{
    font-size: 64px;
    display: inline;

}

.name span{
    color: #d5015b;
}

#greet{
    padding: 2px;
}
#hello{
    padding: 2px;
}

#proffession{
    padding: 2px;
}
#content #intro #name{
    color: #d5015b;
}

#download-cv{
    background: #d5015b;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* socials*/
#socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px;
}
#socials a{
    text-decoration: none;
}

footer{
    font-size: 12px;
    height: 30px;
    width: 100%;
    background-color: #d5015b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*projects*/

#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0 100px 0;
}
#projects h2{
    color: #d5015b; 
    margin-bottom: 100px;
}


.project-image{
    width: 280px;
    height: 280px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 10px;
}

.visit{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    width: 169px;
    height: 36px;
    position: relative;
}

.details {
    width: 350px;
    text-align: justify;
}

/*RockPaperScissor*/

#RockPaperScissor{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#RockPaperScissor .project-image{
    background-image: url(Resources/projects/RockPaperScissor.svg);
}

/*Proverbs Web App*/

#ProverbsWebApp .project-image{
    background-image: url(Resources/projects/Proverbs.svg);
}

#ProverbsWebApp{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

/*projects-details div design*/

.project-details .vl .line{
    width: 2px;
    height: 300px;
    background-color: #d5015b;
}

.project-details .vl{
    color: #d5015b;
}

.project-details .vl span{
    font-weight: bold;
}

.project-details{   
    display: flex;
}

.vl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* tech used*/

.tech-used span{
 background-color: #F5F5DC;
 padding: 5px 20px;
 border-radius: 10px;
 margin: 5px;
}

.tech-used{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

/*visit repo*/
.visit-repo{
    color: white;
    background-color: #d5015b;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

/* projects-ctn flex*/

#project-ctn{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/*about*/

#about{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0 70px 0;
    gap: 20px;
}

#about h2{
    color: #d5015b;
    margin-bottom: 80px;
}

#about-introduction{
    display: flex;
    align-items: center;
    gap: 50px;
}

#about-introduction div{
    width: 450px;
}

#about-introduction div p{
    text-align: justify;
}

#about-introduction img{
    width: 160px;
    height: 160px;
    border-radius: 100px;
    border: 15px solid #d5015b;
}

/* tech ctn*/

#tech-ctn{
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*contact email*/

#contact-ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0 50px 0;
}

#contact-me{
    width: 400px;
    height: 400px;
    background-color: #d5015b;
    font-size: 14px;
    color: white;
    border-radius: 10px;
}

#contact-title{
    margin: 50px;
    color: #d5015b;
}

#email input{
    width: 340px;
    margin: 0px 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#email p{
    margin: 20px 20px 5px 20px;
}

#email #message{
    height: 100px;
}

#email{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#email button{
    padding: 10px;
    width: 360px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}





